@model List<Order>

@{
    ViewData["Title"] = "All orders";
}

<div class="row" style="min-height:880px">
    <div class="col-md-8 offset-2">
        <p style="margin-top: 160px">
            <h4>รายการคำสั่งซื้อ</h4>
        </p>

        <table class="table" style="margin-top: 80px">
            <thead>
                <tr>
                    <th>คำสั่งซื้อ</th>
                    <td>คอร์สที่ซื้อ</td>
                    <th>ราคา</th>
                    @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <th>User</th>
            }
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                <tr>
                    <td class="align-middle">@order.Id</td>
                    <td class="align-middle">
                        <ul style="list-style-type:none">
                            @foreach (var item in order.OrderItems)
                            {
                                <li>
                                    <div class="alert alert-info" role="alert">
                                        <span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - @item.Courses.Name
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                    <td class="align-middle">
                        @order.OrderItems.Select(m => m.Courses.Price * m.Amount).Sum().ToString("c")
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                <td class="align-middle"> @order.User.FullName </td>
                    }
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>